<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title>교수상담 운영 상세</title>
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>
<script src="/sch/js/admin/cnsltExprn/consultOperateDetail.js"></script>
<script src="https://meet.jit.si/external_api.js"></script>
</head>

<body>

	<div id="meet" className="jitsi-fullscreen" style="display: none;"></div>
	<!-- ===== header ====== -->
	<header id="header-html"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<!-- ===== container-fluid ====== -->
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800">교수상담 운영 상세</h1>
							</div>
							<div class="col">
								<!-- <div class="row mb-4" v-show="step == 'master'"> -->
								<div class="row mb-4">

									<div class="card shadow col">
										<div class="card-body">
											<div class="row justify-content-center">
												<div class="col">
													<form class="d-flex justify-content-center col">
														<div class="col tbl_col_typ1">
															<table class="tableForm">
																<tbody>
																	<tr>
																		<!-- ===== 교수명   ====== -->
																		<th class="col-2">교수명</th>
																		<td class="col-4">
																			<div id="profsrUserSeqText">
																				{{cnsltData.userNm}}</div>
																		</td>
																		<th class="col-2">상담 형태</th>
																		<td>
																			<div id="cnsltSe">{{cnsltData.cnsltSeStr}}</div>
																		</td>
																		<td class="col-2" rowspan="2">
																			<button type='button'
																				style="width: 10rem; height: 5rem;"
																				class="btn-google btn-list-icon" @click="FnStart()">상담
																				시작</button>
																		</td>
																	</tr>
																	<tr>
																		<th class="col-2">상담장소</th>
																		<td>
																			<div id="cnsltPlaceNm">
																				{{cnsltData.cnsltPlaceNm}}</div>
																		</td>

																		<th class="col-2">상담생수</th>
																		<td>
																			<div id="cnsltCo">{{cnsltData.cnsltCo}}명</div>
																		</td>
																	</tr>
																	<!-- ===== 상담기간 ====== -->
																	<tr>
																		<th>상담 기간</th>
																		<td>
																			<div class="input-group flex-nowrap bx_calendar">
																				<div class="side-by-side div-input">
																					{{cnsltData.cnsltDate}}</div>
																			</div>
																		</td>
																		<th>상담요일</th>
																		<!-- ===== 상담요일 ====== -->
																		<td colspan="2">
																			<div> 
																				<input type="checkbox" disabled block
																					class="cnsltWeekArray" name="cnsltWeekArray"
																					id="monday" v-model="cnsltData.cnsltWeekArray"
																					value="1" /> <label for="monday"
																					class="form-check-label">월</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltWeekArray" name="cnsltWeekArray"
																					id="tuesday" v-model="cnsltData.cnsltWeekArray"
																					value="2" /> <label for="tuesday"
																					class="form-check-label">화</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="wednesday" v-model="cnsltData.cnsltWeekArray"
																					value="3" /> <label for="wednesday"
																					class="form-check-label">수</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="thursday" v-model="cnsltData.cnsltWeekArray"
																					value="4" /> <label for="thursday"
																					class="form-check-label">목</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="friday" v-model="cnsltData.cnsltWeekArray"
																					value="5" /> <label for="friday"
																					class="form-check-label">금</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="saturday" v-model="cnsltData.cnsltWeekArray"
																					value="6" /> <label for="saturday"
																					class="form-check-label">토</label>
																			</div>
																		</td>
																	</tr>
																	<!-- ===== 상담시간 ====== -->
																	<tr>
																		<th class="col-sm-2">상담시간</th>
																		<td colspan="4">
																			<div class="input-group flex-nowrap">
																				{{cnsltData.cnsltSn}}회&nbsp;&nbsp;
																				차&nbsp;&nbsp;&nbsp;&nbsp;
																				{{cnsltData.cnsltBeginTimeHour}}:{{cnsltData.cnsltBeginTimeMinutes}}
																				~{{cnsltData.cnsltEndTimeHour}}:{{cnsltData.cnsltEndTimeMinutes}}</div>
																		</td>
																	</tr>
																	<!-- ===== 모집기간 ====== -->
																	<tr>
																		<th>모집 기간</th>
																		<td colspan="4">
																			<div class="input-group flex-nowrap">
																				<div class="side-by-side div-input">
																					{{cnsltData.rcritBeginDate}}</div>
																				<div class="side-by-side div-input-sm">
																					{{cnsltData.rcritBeginHour}}</div>
																				<div class="side-by-side div-input-sm">
																					{{cnsltData.rcritBeginMinutes}}</div>
																				&nbsp;&nbsp; &nbsp;&nbsp; ~
																				<div class="side-by-side div-input">
																					{{cnsltData.rcritEndDate}}</div>
																				<div class="side-by-side div-input-sm">
																					{{cnsltData.rcritEndHour}}</div>
																				<div class="side-by-side div-input-sm">
																					{{cnsltData.rcritEndMinutes}}</div>
																			</div>
																		</td>
																	</tr>
																	<tr id="cnsltFxParticipantsContent" class="visibil">
																		<td colspan="5">
																			<div v-if="cnsltData.cnsltUserArray.length > 0"
																				style="height: 6rem; overflow-y: scroll;">
																				<div v-for="(obj, idx) in cnsltData.cnsltUserArray"
																					class="side-by-side">
																					&nbsp;&nbsp;{{obj}}&nbsp;&nbsp;/</div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
															<div
																style="display: flex; justify-content: space-evenly; align-items: center;">
																<div style="">
																	<div id="cnsltUserLine" style="">
																		<div style="text-wrap: nowrap;">
																			상담 신청자 수 : <span
																				style="font-size: larger; text-decoration-line: underline; font-weight: bolder;">{{cnsltData.cnsltRegisterCnt}}&nbsp;
																				명</span>
																		</div>
																		<img src="/image/excel_file_download.svg" width="50"
																			id="btnFileDownloadForUserList" class="link-style" />
																	</div>
																</div>
																<div style="">
																	<div id="cnsltParticipantsLine" style="">
																		<div style="text-wrap: nowrap;">
																			상담 완료자수 : <span
																				style="font-size: larger; text-decoration-line: underline; font-weight: bolder;">{{cnsltData.cnsltParticipantUserCnt}}&nbsp;명
																			</span>
																		</div>
																		<img src="/image/excel_file_download.svg" width="50"
																			id="btnFileDownloadForParticipants"
																			class="link-style" />
																	</div>
																</div>
															</div>
															<div id="UsefInfoLine">
																<div id="boxForUserList" style="display: flex;"></div>
																<div id="boxForParticipantsList" style="display: flex;"></div>
															</div>
													</form>
													
													<div class="d-flex justify-content-center">
														<div class="d-flex justify-content-center">
															<div class="pr-5">
																<a href="/sch/admin/cnsltExprn/consultFx.html"
																	class="btn btn-dark btn-icon btn_search_width">
																	<span class="text">목록</span>
																</a>
															</div>
															<div class="input-group flex-nowrap pr-5"
																id="btnUpdateCnslt"></div>
															<div class="input-group flex-nowrap"
																id="btnDeleteCnslt"></div>
															<div class="input-group flex-nowrap"
																id="btnCancelCnslt"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ===== /container ====== -->
			</div>
			<!-- ===== /app ====== -->
		</div>
	</div>
</body>

</html>