<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title>교수상담 운영 상담취소</title>
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>
<script src="/sch/js/admin/cnsltExprn/consultOperateDetailCancel.js"></script>
</head>

<body>

	<!-- ===== header ====== -->
	<header id="header-html"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<!-- ===== container-fluid ====== -->
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800">교수상담 운영 상담취소</h1>
							</div>
							<div class="col">
								<!-- <div class="row mb-4" v-show="step == 'master'"> -->
								<div class="row mb-4">

									<div class="card shadow col">
										<div class="card-body">
											<div class="row justify-content-center mt25">
												<div class="col">
													<form class="d-flex justify-content-center col">
														<div class="col tbl_col_typ1">
															<table class="tableForm">
																<tbody>
																	<tr>
																		<!-- ===== 교수명   ====== -->
																		<th>교수명</th>
																		<td>
																			<div class="form-control" id="profsrUserSeqText">
																				{{cnsltData.userNm}}</div>
																		</td>
																		<th>상담 형태</th>
																		<td>
																			<div id="cnsltSe">{{cnsltData.cnsltSeStr}}</div>
																		</td>
																	</tr>
																	<!-- ===== / 상담형태 : 드롭박스 ====== -->
																	<tr>
																		<th>상담장소</th>

																		<td>
																			<div class="form-control" id="cnsltPlaceNm">
																				{{cnsltData.cnsltPlaceNm}}</div>
																		</td>
																		<th>상담생수</th>

																		<td>
																			<div>
																				<div id="cnsltCo">{{cnsltData.cnsltCo}}명</div>
																			</div>
																		</td>
																	</tr>
																	<!-- ===== 상담기간 ====== -->
																	<tr>
																		<th>상담 기간</th>
																		<td class="col-4">
																			<div class="input-group flex-nowrap bx_calendar">
																				<div class="side-by-side div-input">
																					{{cnsltData.cnsltBeginDate}}</div>
																				<span class="d-block mx-3" style="line-height: 38px">~</span>
																				<div class="side-by-side div-input">
																					{{cnsltData.cnsltEndDate}}</div>
																			</div>
																		</td>
																		<th class="col-2">상담요일</th>
																		<!-- ===== 상담요일 ====== -->
																		<td>
																			<div>
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="monday" v-model="cnsltData.cnsltWeekArray"
																					value="1" /> <label for="monday"
																					class="form-check-label">월</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="tuesday" v-model="cnsltData.cnsltWeekArray"
																					value="2" /> <label for="tuesday"
																					class="form-check-label">화</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="wednesday" v-model="cnsltData.cnsltWeekArray"
																					value="3" /> <label for="wednesday"
																					class="form-check-label">수</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="thursday" v-model="cnsltData.cnsltWeekArray"
																					value="4" /> <label for="thursday"
																					class="form-check-label">목</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="friday" v-model="cnsltData.cnsltWeekArray"
																					value="5" /> <label for="friday"
																					class="form-check-label">금</label>&nbsp;&nbsp;&nbsp;
																				<input type="checkbox" disabled block
																					class="cnsltDayArray" name="cnsltDayArray"
																					id="saturday" v-model="cnsltData.cnsltWeekArray"
																					value="6" /> <label for="saturday"
																					class="form-check-label">토</label>
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<!-- ===== / 상담시간 ====== -->
																		<th class="col-sm-2">상담시간</th>
																		<td colspan="3">
																			<div class="input-group flex-nowrap">
																				{{cnsltData.cnsltBeginTimeHour}}:{{cnsltData.cnsltBeginTimeMinutes}}
																				~{{cnsltData.cnsltEndTimeHour}}:{{cnsltData.cnsltEndTimeMinutes}}
																			</div>
																		</td>
																	</tr>
																	<!-- ===== 모집기간 ====== -->
																	<tr>
																		<th>모집 기간</th>
																		<td colspan="3">
																			<div class="input-group calendar">
																				<div class="side-by-side div-input">
																					{{cnsltData.rcritBeginDt}}</div>
																				<div class="side-by-side div-input"
																					style="width: 4rem;">
																					{{cnsltData.startPeriodHour}}</div>
																				<div class="side-by-side div-input"
																					style="width: 4rem;">
																					{{cnsltData.startPeriodMinute}}</div>
																				<span>~</span>
																				<div class="side-by-side div-input">
																					{{cnsltData.rcritEndDt}}</div>
																				<div class="side-by-side div-input"
																					style="width: 4rem;">
																					{{cnsltData.endPeriodHour}}</div>
																				<div class="side-by-side div-input"
																					style="width: 4rem;">
																					{{cnsltData.endPeriodMinute}}</div>

																			</div>
																		</td>
																	</tr>
																</table>
																<table class="tableForm">
																	<tr>
																		<th>상담 취소 사유</th>
																		<td>
																			<div class="col-4">
																				<select v-model="cnsltData.canclCode"
																					id="cnsltCanclCode" name="cnsltCanclCode"
																					@click="fnCnsltCanclCode" required>
																					<option value="" style="" disabled selected>사유를
																						선택하세요.</option>
																					<option value="CNSLT_CANCEL_REASON1">일정 변경
																					</option>
																					<option value="CNSLT_CANCEL_REASON2">교수님
																						일정 변경</option>
																				</select>
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<th>상담 취소 설명</th>
																		<td>
																			<div>
																				<textarea class="col-12" maxlength="200"
																					v-model="cnsltData.canclDc"
																					placeholder="200자 이내로 상담을 취소하는 이유를 설명해주세요.">
                                                                    </textarea>
																			</div>
																		</td>
																	</tr>
																</table>
																
																<table class="tableForm">
																	<tr>
																		<th>
																			알림 안내<span class="required">*</span>
																		</th>
																		<td>
																			<div class="input-group">
																				<div class="form-check">
																					<input type="checkbox" class="canclNtcnArray"
																						name="canclNtcnArray1" id="appPush"
																						v-model="cnsltData.canclNtcnArray" value="P" />
																					<label for="appPush" class="form-check-label">앱
																						푸시</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

																					<input type="checkbox" class="canclNtcnArray"
																						name="canclNtcnArray" id="alarm"
																						v-model="cnsltData.canclNtcnArray" value="A" /> <label
																						for="alarm" class="form-check-label">알림</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

																					<input type="checkbox" name="canclNtcnArray"
																						id="mail" v-model="cnsltData.canclNtcnArray"
																						value="M" /> <label for="mail"
																						class="form-check-label">메일</label>
																				</div>
																				<div id='result'></div>
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</form>
													
													<div class="d-flex justify-content-center">
														<div class="d-flex justify-content-center mb-3">
															<div class="pr-5">
																<a href="javascript:;"
																	class="btn btn-icon btn-google btn_search_width"
																	id="btnCancel" @click=fnCancel()> <span
																	class="text">취소</span>
																</a>
															</div>
															<div class="pr-5">
																<a href="javascript:;"
																	class="btn btn-icon btn-primary btn_search_width"
																	id="btnSave"> <span class="text">저장</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- ===== /container-fluid ====== -->

								<!-- ==== /search ==== -->

								<!-- ==== /searchList ==== -->

							</div>
						</div>
					</div>

					<!-- ===== /container ====== -->
				</div>
				<!-- ===== /app ====== -->
			</div>
		</div>
</div>
</body>

</html>