<!-- 게시판 > Q&A 답변 등록 -->
<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title>체험예약 운영 취소</title>
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>
<script
	src="/sch/js/admin/cnsltExprn/experienceOperateDetailCancelTest.js"></script>
</head>

<body>
	<!-- ===== header ====== -->
	<header id="header-html"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800">체험예약 운영 취소</h1>
							</div>

							<div class="col">
								<div class="row mb-4">
									<div class="card shadow col">
										<div class="card-body">
											<div class="row justify-content-center mt25">
												<div class="col">
													<form class="d-flex justify-content-center col">
														<div class="col tbl_col_typ1">
															<table class="tableForm">
																<tr>
																	<!-- ===== 체험 종류 ====== -->
																	<th>체험 종류</th>
																	<td>
																		<div id="exprnKndCodeStr">
																			{{exprnData.exprnKndCodeStr}}</div>
																	</td>
																	<th>체험생 수</th>
																	<td>{{exprnData.exprnCo}}</td>
																</tr>
																<tr>
																	<th>체험 장소 </th>
																	<td colspan="3">
																		<div id="exprnPlaceNm">
																			{{exprnData.exprnPlaceNm}}</div>
																	</td>
																</tr>
																<tr>
																	<th>체험 날짜</th>
																	<td>{{exprnData.exprnDate}}</td>
																	<th>체험 요일</th>
																	<!-- ===== 체험요일 ====== -->
																	<td>
																		<div>
																			<input type="checkbox" disabled block
																				class="exprnDayArray" name="exprnDayArray"
																				id="monday" v-model="exprnData.exprnWeekArray"
																				value="1" /> <label for="monday"
																				class="form-check-label">월</label>&nbsp;&nbsp;&nbsp;
																			<input type="checkbox" disabled block
																				class="exprnDayArray" name="exprnDayArray"
																				id="tuesday" v-model="exprnData.exprnWeekArray"
																				value="2" /> <label for="tuesday"
																				class="form-check-label">화</label>&nbsp;&nbsp;&nbsp;
																			<input type="checkbox" disabled block
																				class="exprnDayArray" name="exprnDayArray"
																				id="wednesday" v-model="exprnData.exprnWeekArray"
																				value="3" /> <label for="wednesday"
																				class="form-check-label">수</label>&nbsp;&nbsp;&nbsp;
																			<input type="checkbox" disabled block
																				class="exprnDayArray" name="exprnDayArray"
																				id="thursday" v-model="exprnData.exprnWeekArray"
																				value="4" /> <label for="thursday"
																				class="form-check-label">목</label>&nbsp;&nbsp;&nbsp;
																			<input type="checkbox" disabled block
																				class="exprnDayArray" name="exprnDayArray"
																				id="friday" v-model="exprnData.exprnWeekArray"
																				value="5" /> <label for="friday"
																				class="form-check-label">금</label>&nbsp;&nbsp;&nbsp;
																			<input type="checkbox" disabled block
																				class="exprnDayArray" name="exprnDayArray"
																				id="saturday" v-model="exprnData.exprnWeekArray"
																				value="6" /> <label for="saturday"
																				class="form-check-label">토</label>
																		</div>
																	</td>
																</tr>

																<tr>
																	<th>체험 시간 </th>
																	<td colspan="3">
																		<div class="input-group flex-nowrap">
																			{{exprnData.exprnBeginTimeHour}}:{{exprnData.exprnBeginTimeMinutes}}
																			~{{exprnData.exprnEndTimeHour}}:{{exprnData.exprnEndTimeMinutes}}
																		</div>
																	</td>
																</tr>
																
																<!-- ===== 모집기간 ====== -->
																<tr>
																	<th>모집 기간</th>
																	<td colspan="3">
																		<div class="input-group calendar">
																			<span class="d-block" style="line-height: 38px">{{exprnData.rcritBeginDt}}
																				&nbsp;&nbsp;&nbsp;&nbsp;~
																				&nbsp;&nbsp;&nbsp;&nbsp;{{exprnData.rcritEndDt}} </span>
																		</div>
																	</td>
																</tr>

															</table>
															
															<table class="tableForm">
																<tr>
																	<th>취소 사유<span class="required">*</span></th>
																	<td>
																		<div class="sel_typ1">
																			<select v-model=exprnData.canclCode
																				id="exprnCanclCode" name="exprnCanclCode"
																				@click="fnExprnCanclCode" required>
																				<option id="disabled" value="" disabled selected>사유를
																					선택하세요.</option>
																				<option id="exprnCanclValue"
																					value="EXPRN_CANCEL_REASON1">일정 변경</option>
																				<option id="exprnCanclValue"
																					value="EXPRN_CANCEL_REASON2">지원자 부족</option>
																			</select>
																		</div>
																	</td>
																</tr>

																<tr>
																	<th>취소 사유 설명<span class="required">*</span></th>
																	<td><textarea class="form-control"
																			placeholder="200자 이내로 휴강하는 이유를 설명해주세요."
																			style="min-height: 150px; min-width: 400px" id=""
																			maxlength="2000" v-model="exprnData.canclDc"></textarea>
																	</td>
																</tr>
															</table>
															
															<table class="tableForm">
																<tr>
																	<th>알림안내</th>
																	<td>
																		<div class="input-group">
																			<div class="form-check">
																				<input id="appPush" type="checkbox"
																					v-model="exprnData.canclNtcnArray" value="P" checked />
																				<label for="appPush"
																					class="form-check-label">앱
																					푸시</label>
																			</div>
																			<div class="form-check">
																				<input id="alarm" type="checkbox"
																					v-model="exprnData.canclNtcnArray" value="A" /> <label
																					for="alarm" class="form-check-label">알림</label>
																			</div>
																			<div class="form-check">
																				<input id="mail" type="checkbox"
																					v-model="exprnData.canclNtcnArray" value="M" /> <label
																					for="mail" class="form-check-label">메일</label>
																			</div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>
													</form>
													
													<div class="d-flex justify-content-center">
														<div class="pr-5">
															<a href="javascript:;"
																class="btn btn-google btn-icon btn_search_width"
																@click="fnCancel()"> <span class="text">취소</span>
															</a>
														</div>
														<div class="pl-5">
															<a href="javascript:;"
																class="btn btn-primary btn-icon btn_search_width"
																@click="fnExperienceCnclUpdt" id="btnSave"> <span
																class="text">저장</span>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- ===== /container ====== -->
				</div>
				<!-- ===== /app ====== -->
			</div>
		</div>
	</div>
</body>

</html>