<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
	content="A fully featured admin theme which can be used to build CRM, CMS, etc."
	name="description" />
<meta name="author" content="">
<title>체험예약 개설 등록</title>
<link href="/css/style.css" rel="stylesheet" />
<script src="/js/allVendors.js"></script>
<script src="/js/common.js"></script>
<script src="/sch/js/admin/cnsltExprn/experienceRegist.js"></script>
</head>

<body>

	<!-- ===== header ====== -->
	<header id="header-html"></header>
	<!-- ===== /header ====== -->
	<div id="wrapper">
		<!-- sidebar -->
		<aside id="sidebar-html"></aside>
		<!-- /sidebar -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content" class="pt-0">
				<!-- ===== app ====== -->
				<div id="app">
					<!-- ===== container ====== -->
					<div id="container" class="d-flex flex-column">
						<div class="container-fluid">
							<!-- ===== container-fluid ====== -->
							<div
								class="d-sm-flex align-items-center justify-content-between mb-4">
								<h1 class="h1 mb-0 text-gray-800">체험예약 등록</h1>
							</div>
							<div class="col">
								<!-- <div class="row mb-4" v-show="step == 'master'"> -->
								<div class="row mb-4">

									<div class="card shadow col">
										<div class="card-body">
											<div class="row justify-content-center 25">
												<div class="col">
													<form class="d-flex justify-content-center col">
														<div class="col tbl_col_typ1">
															<table class="tableForm">
																<!-- ===== 체험 종류 : 드롭박스 ====== -->
																<tr>
																	<th>체험 종류<span class="required">*</span>
																	</th>
																	<td>
																		<div>
																			<select v-model=exprnData.exprnKndCode
																				id="exprnKndCode" name="exprnKndCode">
																				<option value="EXPRN_KND_CODE_1">차 체험</option>
																				<option value="EXPRN_KND_CODE_2">서예 체험</option>
																				<option value="EXPRN_KND_CODE_3">도장 체험</option>
																				<option value="EXPRN_KND_CODE_4">향 체험</option>
																			</select>
																		</div>
																	</td>
																	<th>체험생 수<span class="required">*</span>
																	</th>
																	<td>
																		<div>
																			<select class="custom-select" id="studentCount"
																				v-model="exprnData.studentCount">
																				<option value="">체험생 수 명수 선택</option>
																				<option v-for="(num, index) in exprnData.studentMax"
																					:value="num">{{num}}</option>
																			</select>
																		</div>
																	</td>
																</tr>
																<tr>
																	<th>제목 <span class="required">*</span>
																	</th>
																	<td colspan="3"><input class="form-control col-9" id="exprnNm"
																		v-model="exprnData.exprnNm" type="text"
																		placeholder="제목을 입력해 주세요."></td>
																</tr>
																<tr>
																	<th>체험 장소 <span class="required">*</span>
																	</th>
																	<td colspan="3">공자 아카데미</td>
																</tr>
																<!-- ===== 체험기간 ====== -->
																<tr>
																	<th>체험 기간<span class="required">*</span>
																	</th>
																	<td>
																		<div class="input-group calendar">
																			<input type="text"
																				class="form-control ui-datepicker-vertical-m-size datepicker inputTextStyle"
																				id="datepickerFromexprn" name="datepickerFromexprn"
																				v-model="exprnData.exprnBeginDe"
																				@input=" exprnData.exprnBeginDe = $event.target.value" readonly  />
																			<span class="d-block mx-2" style="line-height: 38px">~</span>
																			<input type="text"
																				class="form-control datepicker datepicker_to"
																				id="datepickerToexprn" name="datepickerToexprn"
																				v-model="exprnData.exprnEndDe"
																				@input=" exprnData.exprnEndDe = $event.target.value" readonly  />

																		</div>
																	</td>
																	<!-- =====  체험 요일  ====== -->
																	<th>체험 요일 <span class="required">*</span></th>
																	<td>
																		<div class="input-group">
																			<div class="form-check">
																				<input name="WeekArray1" id="Mon" type="checkbox"
																					v-model="exprnData.exprnWeekArray" value="1"
																					checked> <label for="Mon"
																					class="form-check-label">월</label>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray" id="Tue" type="checkbox"
																					v-model="exprnData.exprnWeekArray" value="2">
																				<label for="Tue" class="form-check-label">화</label>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray" id="Wed" type="checkbox"
																					v-model="exprnData.exprnWeekArray" value="3">
																				<label for="Wed" class="form-check-label">수</label>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray" type="checkbox" id="Thu"
																					v-model="exprnData.exprnWeekArray" value="4">
																				<label for="Thu" class="form-check-label"> 목</label>
																			</div>
																			<div class="form-check">
																				<input name="WeekArray" id="Fri" type="checkbox"
																					v-model="exprnData.exprnWeekArray" value="5">
																				<label class="form-check-label" for="Fri"> 금</label>
																			</div>
																			<div class="form-check">
																				<input type="checkbox"
																					v-model="exprnData.exprnWeekArray" id="Sat"
																					name="WeekArray" value="6"> <label
																					class="form-check-label" for="Sat"> 토</label>
																			</div>
																		</div>
																	</td>
																</tr>
																<!-- =====체험 시간  ====== -->
																<tr>
																	<th>체험 시간 <span class="required">*</span>
																	</th>
																	<td id="exprnTimeContainer"
																		class="exprnTimeContainer">
																		<div class="input-group flex-nowrap">
																			<select class="form-control watch"
																				id="startHour"
																				v-model="exprnList.exprnBeginTimeHour">
																				<option
																					v-for="hour in Array.from({ length: 24 }, (_, i) => i.toString().padStart(2, '0'))"
																					:value="hour">
																					{{ hour }}
																				</option>
																			</select>
																			&nbsp;:&nbsp;&nbsp;&nbsp;
																			<select class="form-control watch"
																				id="startMinute"
																				v-model="exprnList.exprnBeginTimeMinutes">
																				<option
																					v-for="minute in ['00', '10', '20', '30', '40', '50']"
																					:value="minute">
																					{{ minute }}
																				</option>
																			</select>
																			&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;
																			<select class="form-control watch"
																				id="endHour"
																				v-model="exprnList.exprnEndTimeHour">
																				<option
																					v-for="hour in Array.from({ length: 24 }, (_, i) => i.toString().padStart(2, '0'))"
																					:value="hour">
																					{{ hour }}
																				</option>
																			</select>
																			&nbsp;:&nbsp;&nbsp;&nbsp;
																			<select class="form-control watch"
																				id="endMinute"
																				v-model="exprnList.exprnEndTimeMinutes">
																				<option
																					v-for="minute in ['00', '10', '20', '30', '40', '50']"
																					:value="minute">
																					{{ minute }}
																				</option>
																			</select>
																			</div> 
																		<div class="input-group flex-nowrap" id="getExperienceSnTime"></div>
																		<div class="input-group flex-nowrap" id="getExperienceSnTime2"></div>
																	</td>

																	<td colspan="2">
																		<div class="ml-3 dp_center btn_search_width">
																			<div id="getexprnTime">
																				<a href="javascript:;" id="experienceTimebutton"
																					class="btn btn-primary btn-icon btn_search_width"
																					@click="fnGetExperienceTime"> <span
																					class="text">추가</span>
																				</a>
																				<div id="experienceTimeContainer"
																				class="experienceTimeContainer"></div>
																				<div id="experienceTimeContainer2"
																					class="experienceTimeContainer2"></div>
																			</div>
																		</div>
																	</td>
																</tr>
																<!-- ===== 모집기간 ====== -->
																<tr>
																	<th>모집 기간<span class="required">*</span>
																	</th>
																	<td colspan="3" id="exprnRegistContainer"
																		class="exprnRegistContainer">
																		<div class="input-group calendar">
																			<input type="text" id="startPeriodDt"
																				name="datepickerFromRegist"
																				class="form-control ui-datepicker-vertical-m-size datepicker datepicker_from"
																				v-model="exprnData.startPeriodDt "
																				@input=" exprnData.exprnBeginDate = $event.target.value"  readonly />
																			<div class="input-group flex-nowrap col-4">
																				
																				<!--
																					<input  type="number" class="form-control watch"
																					id="startPeriodHour" min="0" max="23" maxlength="2"
																					v-model="exprnData.startPeriodHour">
																				-->

                                                                                <select class="form-control watch"
                                                                                    id="startPeriodHour"
                                                                                    v-model="exprnData.startPeriodHour">
                                                                                    <option
                                                                                        v-for="hour in Array.from({ length: 24 }, (_, i) => i.toString().padStart(2, '0'))"
                                                                                        :value="hour">
                                                                                        {{ hour }}
                                                                                    </option>
                                                                                </select>
																				&nbsp;:&nbsp;&nbsp;&nbsp;
																				<!--
																					<input  type="number" class="form-control watch"
																					id="startPeriodMinute" min="0" max="59"
																					maxlength="2" v-model="exprnData.startPeriodMinute">-->
																					
																					<select class="form-control watch"
                                                                                    id="startPeriodMinute"
                                                                                    v-model="exprnData.startPeriodMinute">
                                                                                    <option
                                                                                        v-for="minute in ['00', '05', '10', '15', '20', '25','30', '35', '40', '45', '50', '55']"
                                                                                        :value="minute">
                                                                                        {{ minute }}
                                                                                    </option>
                                                                                </select>
																					&nbsp;&nbsp;&nbsp;
																			</div>

																			<span class="d-block mx-3" style="line-height: 38px">~</span>
																			<input type="text" id="endPeriodDt"
																				name="datepickerToRegist"
																				class="form-control ui-datepicker-vertical-m-size datepicker datepicker_to"
																				v-model="exprnData.endPeriodDt"
																				@input=" exprnData.exprnEndDate= $event.target.value"  readonly />

																			<div class="input-group flex-nowrap col-4">
																				<!--
																					<input type="number"  class="form-control watch" id="endPeriodHour"
																					min="0" max="23" maxlength="2"
																					v-model="exprnData.endPeriodHour">
																				-->
                                                                                <select class="form-control watch"
                                                                                    id="endPeriodHour"
                                                                                    v-model="exprnData.endPeriodHour">
                                                                                    <option
                                                                                        v-for="hour in Array.from({ length: 24 }, (_, i) => i.toString().padStart(2, '0'))"
                                                                                        :value="hour">
                                                                                        {{ hour }}
                                                                                    </option>
                                                                                </select>
                                                                                
																				&nbsp;:&nbsp;&nbsp;&nbsp;
																				<!--
																					<input  type="number" class="form-control watch"
																					id="endPeriodMinute" min="0" max="59" maxlength="2"
																					v-model="exprnData.endPeriodMinute">
																				-->
																					<select class="form-control watch"
                                                                                    id="endPeriodMinute"
                                                                                    v-model="exprnData.endPeriodMinute">
                                                                                    <option
                                                                                        v-for="minute in ['00', '05', '10', '15', '20', '25','30', '35', '40', '45', '50', '55']"
                                                                                        :value="minute">
                                                                                        {{ minute }}
                                                                                    </option>
                                                                                </select>

																			</div>
																		</div>
																	</td>
																</tr>
															</table>
														</div>
													</form>
													
													<div class="d-flex justify-content-center">
														<div class="pl-5">
															<a href="#"
																class="btn btn-google btn-icon btn_search_width"
																@click=fnCancel> <span class="text">취소</span></a>
														</div>
														<div class="pl-5">
															<a href="#"
																class="btn btn-primary btn-icon btn_search_width"
																id="btnGetdate" @click=fnSave> <span class="text">저장</span></a>
														</div>
														<div class="pl-5">
															<a href="javascript:;" data-toggle="modal"
																data-target="#ExperienceCopyModal"
																@click="fnCopyExperience"
																class="btn btn-icon btn-orange btn_search_width"
																id="CopyExperience"> <span class="text">복사</span></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- ===== /container-fluid ====== -->

					</div>
				</div>
				<!-- ===== experienceCopy Modal ====== -->
				<div class="modal fade" id="ExperienceCopyModal" tabindex="-1"
					role="dialog" aria-labelledby="ExprnCopyModalLabel"
					aria-hidden="true">
					<div class="modal-dialog modal-grid" role="document">
						<div class="modal-content modal-xxl-size" id="modalContent">
							<div class="modal-header">
								<h3 class="modal-title font-weight-bolder" id="detailModalLabel"
									style="margin: auto auto;">체험예약 개설 리스트</h3>
								<button class="close" type="button" data-dismiss="modal"
									aria-label="Close" style="margin: 0px !important;">
									<span aria-hidden="true" id="closeModal">×</span>
								</button>
							</div>
							<div class="modal-body" id="modalBody">
								<div class="d-flex justify-content-center mt-2">
									<div class="x-scroll">
										<div class="d-flex flex-column">
											<div class="container-fluid">
												<div
													class="d-sm-flex align-items-center justify-content-between mb-4">
													<h1 class="h1 mb-0 text-gray-800">복사하기</h1>
												</div>
												<div class="row justify-content-center">
													<div class="col">
														<!-- ==== search ==== -->
														<div class="card shadow">
															<div class="card-body">
																<div
																	class="d-flex align-items-center justify-content-center">
																	<div class="input-group dp_center mr-3"
																		style="width: 50%">
																		<input type="text" v-model="searchData.searchText"
																			class="form-control inp_search"
																			@keyup.enter="fnSearch()" placeholder="검색어를 입력해주세요.">
																	</div>
																	<div
																		class="input-group ml-3 dp_center btn_search_width"
																		style="width: 120px">
																		<div>
																			<button type="button"
																				class="form-control btn btn-info btn_search_width"
																				@click="fnSearch()">검색하기</button>
																		</div>
																	</div>
																	<div class="ml-3 dp_center">
																		<a class="search_details"> <img
																			src="/image/bottom_icon.svg" alt="">
																		</a>
																	</div>
																</div>
																<div class="row">
																	<div id="subSearch"
																		style="margin-right: -0.75rem; margin-left: -0.75rem;">
																		<div class="visibil">
																			<div class="sup_btn_box3">
																				<div class="form-check">
																					<input type="checkbox" id="deletedExprnInclude"
																						v-model="searchData.deletedExprnInclude" /> <label
																						for="deletedExprnInclude" class="form-check-label">
																						처리 포함</label>
																				</div>
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</div>
														<!-- ==== /search ==== -->
														<!-- ==== searchList ==== -->
														<div class="row mb-4" style="padding-top: 40px;">
															<div class="col">
																<div class="card shadow">
																	<div class="card-body">
																		<div class="row">
																			<div class="col-6 font-weight-bold"></div>
																			<div class="table-responsive">
																				<table
																					class="table table-bordered  text-dark table-hover text-center">
																					<colgroup></colgroup>
																					<thead>
																						<tr>
																							<th>선&nbsp;&nbsp;택</th>
																							<th>체험&nbsp;&nbsp;종류</th>
																							<th>체험생&nbsp;&nbsp;수</th>
																							<th>기&nbsp;&nbsp;&nbsp;&nbsp;간</th>
																							<th>체험&nbsp;&nbsp;요일</th>
																							<th>체험&nbsp;&nbsp;시간</th>
																							<th>신청&nbsp;&nbsp;상태</th>
																						</tr>
																					</thead>
																					<tbody>

																						<tr v-for="(obj, idx) in exprnModalList"
																							v-if="exprnModalList.length"
																							v-bind:key="exprnModalList.id">

																							<td class="radio-group"><input type="radio"
																								name="exprnSeqNum" class="CopyExperience"
																								:id="obj.exprnSeq"
																								v-model="exprnModalList.exprnSeq"
																								:value=obj.exprnSeq></td>

																							<!-- 체험종류 -->
																							<td>{{obj.exprnKndCodeStr}}</td>
																							<!-- 체험생수 -->
																							<td>{{obj.exprnCo}}<span>명</span>
																							</td>
																							<!-- 기간 -->
																							<td><a href="javascript:;"
																								class="link-style"
																								@click="fnDtail(obj.exprnSeq)">{{obj.exprnBeginDate}}
																									~ {{obj.exprnEndDate}}</a></td>
																							<!-- 체험요일 -->
																							<td>{{obj.exprnWeekArray}}</td>
																							<!-- 체험시간 -->
																							<td>
																								{{obj.exprnBeginTimeHour}}:{{obj.exprnBeginTimeMinutes}}~{{obj.exprnEndTimeHour}}:{{obj.exprnEndTimeMinutes}}
																							</td>
																							<!-- 신청상태 -->
																							<td>{{obj.exprnStatus}}</td>
																						</tr>
																						<tr v-else>
																							<td colspan="7">조회된 데이터가 없습니다.</td>
																						</tr>

																					</tbody>
																				</table>
																				<ul id="pagination"
																					class="pagination justify-content-center">
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<!-- ==== /searchList ==== -->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<div class="d-flex justify-content-center"
									style="margin: auto auto;">
									<div class="pr-5">
										<a href="javascript:;"
											class="btn btn-icon btn-google btn_search_width"
											@click="fnModalCancel"> <span class="text">취소</span>
										</a>
									</div>
									<div class="pl-5">
										<a href="javascript:;"
											class="btn btn-icon btn-primary btn_search_width"
											@click="fnModalSave" id="btnModalSave"> <span
											class="text">확인</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ===== /experienceCopy Modal ====== -->

				<!-- ===== /container ====== -->
			</div>
			<!-- ===== /app ====== -->
		</div>
	</div>


</body>

</html>