<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta name="author" content="">
    <title>갤러리 관리</title>
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/allVendors.js"></script>
    <script src="/js/common.js"></script>
    <script src="/sch/js/admin/cnsltExprn/galleryManagement.js"></script>
</head>

<body>
    <!-- ===== header ====== -->
    <header id="header-html"></header>
    <!-- ===== /header ====== -->
    <div id="wrapper">
        <!-- sidebar -->
        <aside id="sidebar-html"></aside>
        <!-- /sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content" class="pt-0">
                <!-- ===== app ====== -->
                <div id="app">
                    <!-- ===== /header ====== -->
                
                    <!-- ===== container ====== -->
                    <div id="container" class="d-flex flex-column">
                        <div class="container-fluid">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h1 mb-0 text-gray-800">갤러리 관리</h1>
                            </div>
                            <!-- ==== search ==== -->
                            <div class="card shadow">
                                <div class="card-body" id="">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="input-group dp_center mr-3 w-50">
                                            <input type="text" v-model="searchData.searchText"
                                                class="form-control inp_search" @keyup.enter="fnSearch()"
                                                placeholder="검색어를 입력해주세요.">
                                        </div>
                                        <div class="ml-3 dp_center btn_search_width">
                                            <div>
                                                <button type="button" id=""
                                                    class="form-control btn btn-info btn_search_width"
                                                    @click="fnSearch">검색하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==== /search ==== -->
                            <!-- ==== searchList ==== -->
                            <div class="row mb-4" style="padding-top: 40px;">
                                <div class="col">
                                    <div class="card shadow">
                                        <div class="card-body">
                                            <div class="row">
                                               
                                                <div class="table-responsive">
                                                    <table
                                                        class="table table-bordered  text-dark text-center table-hover">
                                                        <colgroup></colgroup>
                                                        <thead>
                                                            <tr>
                                                                <th>순번</th>
                                                                <th>체험종류</th>
                                                                <th style="width: 20%;">이미지</th>
                                                                <th>제목</th>
                                                                <th>체험일</th>
                                                                <th>등록자</th>
                                                                <th>등록일</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- 순번 -->
                                                            <tr v-for="(obj, idx) in galleryList"
                                                                v-if="galleryList.length" :key="idx">

																<td>{{totalCount - (searchData.pageNo - 1) * 10 - idx}}</td>
																<!--체험 종류 -->
																<td>{{obj.exprnKndCodeNm}}</td>
																<!-- 이미지 -->
																 <td>
                                                                    <img :src="`/cmmn/fileDownload.api?fileSeq=${obj.imageFileSeq}`" class="w-50">
                                                                </td>
                                                                 <!-- 제목 @click="fnDtail(obj.gallarySeq)"-->
																<td>
																	<!-- <span class="link-style">{{obj.sj}}</span> -->
																	<a @click="fnDtail(obj.excrtSeq)" href="javascript:;" class="link-style">{{obj.sj}}</a>
																</td>
																<!-- 체험일 -->
																<!-- <td>{{util().date.addDateDash(obj.exprnDt)}} <br>{{obj.exprnTmeNm}} </td> -->
																<td>{{obj.exprnTmeNm}} </td>
																<!-- 등록자 -->
																<td>{{obj.registIdNm}}</td>
																<!-- 등록일자 -->
																<td>{{obj.registDt}}</td>
															</tr>
															<tr v-else>
																<td colspan="7">조회된 데이터가 없습니다.</td>
															</tr>

                                                        </tbody>
                                                    </table>
                                                    <ul id="pagination" class="pagination justify-content-center"></ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-top m-4"></div>
                                        <div class="dp_center justify-content-center mb-4">
                                            <a href="/sch/admin/cnsltExprn/galleryRegist.html"
                                                class="btn-icon btn btn-dark btn_search_width">등록</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ==== /searchList ==== -->
                        </div>
                    </div>
                    <!-- ===== /container ====== -->
                </div>
                <!-- ===== /app ====== -->
            </div>
        </div>
    </div>


</body>

</html>